@use "../../assets/styles/variables" as var;

.contact-section{
    background-color: #fefefe;
    font-family: var.$font-primary;
    padding: 4rem 8rem;
}
.quote-section {
  font-family: var.$font-primary;
}

.form-wrapper{
    background-color: var.$color-background;
}

.section-heading {
  font-size: var.$font-size-heading-medium;
  font-weight: 600;
  margin-bottom: var.$spacing-paragraph;
}

.form-group {
  margin-bottom: var.$spacing-paragraph;
}

.form-label {
  font-size: var.$font-size-paragraph;
  font-weight: 500;
  display: block;
  margin-bottom: 0.5rem;
}

.option-btn {
  background-color: #ffffff;
  border: 1px solid var.$color-text;
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  color: var.$color-heading;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var.$color-button;
    border-color: var.$color-secondary;
    color: var.$color-background;

  }

  &.active {
    background-color: var.$color-button;
    color: var.$color-background;
    border-color: var.$color-button;
  }
}

.form-input,
.form-textarea {
  background-color: #ffffff;
  border: 1px solid var.$color-text;
  border-radius: 4px;
  padding: 0.75rem;
  font-size: 1rem;
  color: var.$color-heading;
  outline: none;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: var.$color-primary;
  }
}

.form-textarea {
  resize: vertical;
}

.submit-btn {
  background-color: var.$color-button;
  color: var.$color-background;
  border: none;
  border-radius: 20px;
  padding: 0.75rem 2rem;
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var.$color-accent;
  }
}

.check-icon {
  color: var.$color-primary;
  font-weight: bold;
}

.award-placeholder {
  background-color: var.$color-circle;
  border-radius: 50%;
}