.hero {
    position: relative; // Required for absolute positioning of the overlay

    height: 100vh ; // Adjust based on your navbar height
    width: 100%;
    background-image: url('../../assets/images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; // To contain the pseudo-element

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 21%; // Slightly more coverage for smoother transition
        width: 100%;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.1) 40%,
          rgba(255, 255, 255, 0.3) 70%,
          rgba(255, 255, 255, 0.6) 90%,
          rgba(255, 255, 255, 0.8) 100%
        );
        backdrop-filter: blur(2px); // Slightly stronger blur to enhance the effect
        pointer-events: none;
        z-index: 1;
      }
      
  }
  
  .content {
    // font-family: 'Poppins', sans-serif;
    font-family: "Playfair Display", serif;
    width: 70%;
    font-size: 6rem;
    padding: 2rem;
    text-align: center;
    color: white;


    h1 {
    //   font-size: 3rem;
      font-weight: bold;
    }
    p {
        font-size: 2rem;
        margin-top: 1rem;
    };

    button{

        background-color: #FF6F61;
        color: white;
        padding: 1rem 2rem;
        border-radius: 5px;
        font-size: 1.5rem;
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #f32a18;
        }
    }
  }
