@use "../../assets/styles/variables" as var;
@use "sass:color";
.heroSection {
  background-color: var.$color-background;
  font-family: var.$font-primary;
  padding: 4rem 1rem;
  

  @media (min-width: 1024px) {
    // padding: 6rem 1rem;
  }
}

.heroGrid {
  display: grid;
  max-width: 1280px;
  margin: 0 auto;
  gap: 7rem;
  align-items: center;
  grid-template-columns: 1fr;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.heroContent {
  grid-column: span 12;
  text-align: center;

  @media (min-width: 1024px) {
    grid-column: span 7;
    text-align: left;
    place-self: center;
  }
}

.heroTitle {
//   font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.2;
  max-width: 40rem;
  color: var.$color-heading-light;
  margin: 0 auto;

  @media (min-width: 768px) {
    font-size: var.$font-size-heading-medium;
  }

  @media (min-width: 1280px) {
    font-size: var.$font-size-heading-medium;

  }
}

.heroSubtitle {
  margin-top: var.$spacing-paragraph;
  font-size: 1rem;
  font-weight: 300;
  color: var.$color-text;
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    font-size: var.$font-size-paragraph;
  }

  @media (min-width: 1024px) {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.25rem;
  }
}

.heroButtons {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  @media (min-width: 1024px) {
    justify-content: flex-start;
  }
}

.getStartedBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  background-color: var.$color-button;
  color: white;
  font-weight: 500;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  z-index: 4;
  box-shadow: rgb(184, 193, 230) 0px 1px 2px 0px inset, rgba(var.$color-primary, 0.1) 0px 0.706592px 0.706592px -0.583333px, rgba(var.$color-secondary, 0.1) 0px 1.80656px 1.80656px -1.16667px, rgba(var.$color-accent, 0.1) 0px 3.62176px 3.62176px -1.75px,  rgba(var.$color-deep-accent, 0.1) 0px 6.8656px 6.8656px -2.33333px,  rgba(var.$color-golden, 0.1) 0px 13.6468px 13.6468px -2.91667px,  rgba(var.$color-secondary, 0.1) 0px 30px 30px -3.5px;
  transform: none;
  transform-origin: 50% 50% 0px;
  &:hover {
    background-color: var.$color-accent;
  }

  svg {
    margin-left: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
  }
}

.speakToSalesBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  border: 1px solid var.$color-text;
  color: var.$color-heading;
  font-weight: 500;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var.$color-background;
  }
}

.heroImageWrapper {
  display: none;

  @media (min-width: 1024px) {
    display: flex;
    grid-column: span 5;
    position: relative;
    height: 400px;
  }

  @media (min-width: 1440px) {
    height: 500px;
  }
}

.circlesContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.8;
  transition: transform 1s ease;
}

#circle1 {
  width: 400px;
  height: 400px;
  background-color: rgba(249, 191, 59, 0.6);
  top: 5%;
  right: 25%;
  z-index: 1;
  filter: blur(20px);

  @media (max-width: 1280px) {
    width: 300px;
    height: 300px;
    right: 10%;
  }

  @media (max-width: 1024px) {
    width: 250px;
    height: 250px;
    right: 5%;
  }
}

#circle2 {
  width: 350px;
  height: 350px;
  background-color: color.adjust(var.$color-deep-accent, $lightness: 25%);
  top: -15%;
  right: 40%;
  z-index: 2;

  @media (max-width: 1280px) {
    width: 220px;
    height: 220px;
    top: -10%;
    right: 25%;
  }

  @media (max-width: 1024px) {
    width: 180px;
    height: 180px;
    right: 20%;
  }
}

#circle3 {
  width: 450px;
  height: 450px;
  background-color: color.adjust(var.$color-golden, $lightness: 25%);

  right: 1%;
  bottom: 5%;
  z-index: 3;

  @media (max-width: 1280px) {
    width: 300px;
    height: 300px;
    right: 5%;
  }

  @media (max-width: 1024px) {
    width: 200px;
    height: 200px;
    right: 10%;
  }
}

#circle4 {
  width: 700px;
  height: 700px;
  background: radial-gradient(circle at 80% 30%, rgba(249, 191, 59, 0.3), transparent 70%);
  right: -70%;
  bottom: 20%;
  z-index: 3;
  border-radius: 50%;
  backdrop-filter: blur(30px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  opacity: 0.9;

  @media (max-width: 1280px) {
    width: 400px;
    height: 400px;
    right: -30%;
  }

  @media (max-width: 1024px) {
    width: 200px;
    height: 200px;
    right: 20%;
  }
}

.circle:hover {
  transform: scale(1.05);
}
