:root {
    --main-margin-left: 300px;
    --main-padding: 1.5rem;
    --main-paadding_left: 0rem;
  }
  
  // Utility classes
  .margin-left-global {
    margin-left: var(--main-margin-left);
  }
  
  .padding-global {
    padding: var(--main-padding);
    padding-left: var(--main-paadding_left);
  }

  .padding-global-top {
    padding-top: 1rem;
  }

    // fonts
  // $font-primary: "Playfair Display", serif ;
  $font-primary:  "Poppins", sans-serif ;

  // colors
  $color-primary: #F08A23;   // Main CTA (Button) Color
  $color-secondary: #F3D949; // Secondary yellow
  $color-accent: #C4551A;    // Red-orange accent
  $color-deep-accent: #B6460F; // Darker red accent
  $color-deep-dark: #1d0b01f3; // Darker red accent
  $color-golden: #D9BA2A;    // Golden circle
  $color-heading: #121212;   // Heading color (almost black)
  $color-heading-light: #121212cb;   // Heading color (almost black)
  $color-button: #121212c6;    // Button color (same as primary)
  $color-text: #777777;      // Paragraph text
  $color-background: #fdf1ea; // Light background
  $color-circle: #205781;    // Main CTA (Button) Color (strong deep blue)

  // Palette 2 (Deep Blue-Green)
  // $color-primary: #205781;    // Main CTA (Button) Color (strong deep blue)
  // $color-secondary: #4F959D;  // Secondary Color (softer teal)
  // $color-accent: #98D2C0;     // Accent (light teal/green)
  // $color-deep-accent: #12344E; // Deeper shade of primary (manually darkened)
  // $color-golden: #F6F8D5;     // "Golden" alternative (light fresh background)
  // $color-heading: #1E1E1E;    // Heading color (dark gray-black)
  // $color-heading-light: #1E1E1Ec7; // Heading color light
  // $color-button: #1E1E1Ecc;   // Button text background color
  // $color-text: #6B7B8C;       // Paragraph text (gray-blue tone)
  // $color-background: #F6F8D5; // Background (lightest)

// // Palette 3 (Soft Pastel and Navy)
// $color-primary: #7886C7;    // Main CTA (Blue lavender shade)
// $color-secondary: #A9B5DF;  // Secondary Color (softer periwinkle)
// $color-accent: #2D336B;     // Accent (strong navy for contrast)
// $color-deep-accent: #1B204C; // Deeper navy shade (manually darkened)
// $color-golden: #DAC0A3;     // "Golden" alternative (warm tan)
// $color-heading: #2D336B;    // Heading color (navy strong)
// $color-heading-light: #2D336Bcb; // Heading color light
// $color-button: #2D336Bc6;   // Button background color
// $color-text: #5C5C5C;       // Paragraph text (neutral gray)
// $color-background: #FFF2F2; // Light pink-white background

  // font sizes
  $font-size-heading-large: 3.5rem; // around 56px
  $font-size-heading-medium: 3rem;  // around 48px
  $font-size-paragraph: 1.125rem;   // around 18px

  // spacing (optional, common practice)
  $spacing-section: 4rem;
  $spacing-paragraph: 1.5rem;
